@media (max-width: 1200px) {
    .box-slider{
        height: 350px;
        overflow: hidden;
        border-radius: 10px;
    }
    
    .user__box-title{
        font-size: 16px;
    }
    
    .user__box-p{
        font-size: 13px;
    }
    
    .user__box{
        padding: 18px 7px;
    }
}


@media (max-width: 991px) {
   .header__nav-link{
       margin-top: 10px;
   }
   
   .user{
       margin-top: 40px;
   }
}

@media (max-width: 430px) {
    .slider__button{
        display: none;
    }
    
}